@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600;700;800&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* Light mode */
  --color-primary: #c35fc7;
  --color-primary-light: #a8a4ff;
  --color-secondary: #000112;
  --color-secondary-light: #20212c;

  /* Dark mode */
  --color-primary: #2B2C37;
  --color-primary-light: #3E3F4E;
  --color-secondary: #828FA3;
  --color-secondary-light: #E4EBFA;

  /* Common */
  --color-white: #F4F7FD;
  --color-white-light: #ffffff;
  --color-red: #EA5555;
  --color-red-light: #FF9898;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}
