@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@600;700;800&display=swap');

:root {
  /* Light mode */
  --color-light-primary: #635FC7;
  --color-light-primary-light: #a8a4ff;
  --color-light-secondary: #000112;
  --color-light-secondary-light: #20212c;

  /* Dark mode */
  --color-dark-primary: #2B2C37;
  --color-dark-primary-light: #3E3F4E;
  --color-dark-secondary: #828FA3;
  --color-dark-secondary-light: #E4EBFA;

  /* Common */
  --color-white: #F4F7FD;
  --color-white-light: #ffffff;
  --color-red: #EA5555;
  --color-red-light: #FF9898;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}