.layout {
  display: flex;
}

.layoutMain {
  width: var(--width-layout);
}

/* HEADER */

.btns_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 17vw;
}

.header {
  align-items: center;
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  height: var(--heigth-header-and-aside);
}

.btn {
  background-color: var(--color-light-primary);
  color: var(--color-white-light);
  text-transform: capitalize;
  border: none;
  border-radius: 30px;
  padding: 12px 25px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

/* ASIDE */

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--heigth-header-and-aside);
  border: solid 1px red;
}

.asideContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 100vh;
}

.asideContent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  /* align-items: flex-start; */
  height: 100%;
  width: var(--width-aside);
}

.asideTitle {
  display: flex;
  color: var(--color-dark-primary);
  justify-content: center;
  align-items: center;
  height: 50px;
  align-items: center;
  padding: 0 15px;
}

.asideBoards {
  padding: 15px 25px;
}

.boardBtn, .boardsActive {
  padding: 15px 0;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.boardsActive {
  margin-left: -30px;
  padding-left: 30px;
  background-color: var(--color-light-primary);
  color: var(--color-white-light);
 }

.darkMode {
  display: flex;
  justify-content: center;
}

.hideSidebar {
  display: flex;
  justify-content: center;
}



.darkMode {
  display: flex;
  align-items: center;
  justify-content: center;
}

.toogleContent {
  align-items: center;
  border-radius: 5px;
  background-color: var(--color-white);
  display: flex;
  justify-content: space-around;
  padding: 15px 35px;
  width: 85%;
}

/* Button toggle  */

.flipswitch {
  position: relative;
  width: 50px;
}
.flipswitch input[type=checkbox] {
  display: none;
}
.flipswitch_label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 0px solid #FFFFFF;
  border-radius: 15px;
}
.flipswitch_inner {
  width: 200%;
  margin-left: -100%;
  transition: margin 0.3s ease-in 0s;
}
.flipswitch_inner:before, .flipswitch_inner:after {
  float: left;
  width: 50%;
  height: 25px;
  padding: 0;
  line-height: 25px;
  font-size: 14px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  box-sizing: border-box;
}
.flipswitch_inner:before {
  content: "";
  display: block;
  padding-left: 12px;
  background-color: #635FC7;
  color: #FFFFFF;
}
.flipswitch_inner:after {
  content: "";
  display: block;
  padding-right: 12px;
  background-color: #635FC7;
  color: #888888;
  text-align: right;
}
.flipswitch_switch {
  width: 17px;
  margin: 4px;
  background: #FFFFFF;
  border: 0px solid #FFFFFF;
  border-radius: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 23px;
  transition: all 0.2s ease-in 0s;
}
.flipswitch_cb:checked + .flipswitch_label .flipswitch_inner {
  margin-left: 0;
}
.flipswitch_cb:checked + .flipswitch_label .flipswitch_switch {
  right: 0;
}


/* MAIN */

.main {
  background-color: var(--color-white);
  height: calc(100vh - var(--heigth-header-and-aside));
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyBoard {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 20vh;
}